.navbar {
    background-image: linear-gradient(to bottom, #007bff, #0056b3);
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav-link {
    font-size: 1.2rem;
    margin: 0 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffc107;
}

.navbar-nav .active > .nav-link {
    color: #ffc107;
    font-weight: bold;
}