<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Intro | {% block title %} Base {% endblock %}</title>
    <!-- Bring in BootStrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- Bring in our own CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    {% include 'nav.html' %}

    <div class = "distinguished-container mt-4">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class = "remarkable-alert alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row">
        <div class="col text-center">
            {% block header %}
            {% endblock header %}
        </div>
    </div>

    <div class="exquisite-container">
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>