{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block header %}
    <h1>Welcome</h1>
{% endblock header %}

{% block content %}
    <div class="container text-center">
        <div class="card p-4 m-3 shadow-lg rounded-lg bg-gradient">
            <h4 class = "card-title text-primary mb-3">Explore the Website</h4>
            <p class = "card-text">Feel free to add your contact info to the address book to...uh...receive Holiday Greetings?</p>
            <a href = "{{ url_for('contacts') }}" class = "btn btn-primary btn-lg">Go to Contacts</a>
        </div>
    </div>
{% endblock content %}