{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="profile-container">
                    <img src="{{ url_for('static', filename='UserUploads/' + current_user.profile_image) }}" alt="Profile Image">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h2 class="profile-heading m-0">Current Information</h2>
                        </div>
                        <div class="card-body">
                            <div class="profile-info">
                                <p class="mb-1"><strong>Username:</strong> {{ current_user.username.title() }}</p>
                                <p class="mb-0"><strong>Email:</strong> {{ current_user.email }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h2 class="profile-heading m-0">Edit Profile</h2>
                        </div>
                        <div class="card-body">
                            <form action="{{ url_for('profile') }}" method="POST" class="profile-form" enctype="multipart/form-data">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    <label for="new_username">New Username:</label>
                                    {{ form.new_username(class="form-control", value=current_user.username) }}
                                </div>
                                <div class="form-group">
                                    <label for="new_email">New Email:</label>
                                    {{form.new_email(class="form-control", value=current_user.email)}}
                                </div>
                                <div class="form-group">
                                    <label for="new_password">New Password:</label>
                                    {{form.new_password(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="confirm_new_password">Confirm New Password:</label>
                                    {{form.confirm_password(class="form-control")}}
                                </div>
                                <div class="form-group">
                                    <label for="profile_image">Profile Image:</label>
                                    {{form.profile_image(class="form-control")}}
                                </div>
                                <button type="submit" class="btn btn-primary my-2">Save Changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5">
        <div class="card p-2 m-2 shadow-lg rounded-lg bg-gradient mx-auto" style="max-width: 50%;">
            <h4 class="card-title text-primary mb-2">Go Back</h4>
            <p class="card-text">Click the button to go back to the previous page.</p>
            <button class="btn btn-primary btn-lg btn-narrow mx-auto" style="width: 50%;" onclick="goBack()">Go Back</button>
        </div>
    </div>
    
    <script>
        function goBack() {
            history.back();
        }
    </script>
{% endblock content %}
